<br>
<a routerLink=""><button type="submit" class="btn btn-primary">Retourne à la page précédente</button></a>
<br>

<h2 style="display: flex; justify-content: center;">Ajouter Un Nouveau Projet !</h2> 
<br>

<div class="form-container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Nom Du Projet</label>
          <input type="text" class="form-control" name="nom_du_Projet" ngModel placeholder="Nom Du Projet" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">N° Du Projet</label>
          <input type="number" class="form-control" name="numero_du_projet" ngModel placeholder="Numéro Du Projet" required>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Période Du:</label>
          <input type="date" class="form-control" name="date_depart_projet" ngModel required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Au:</label>
          <input type="date" class="form-control" name="date_fin_projet" ngModel required>
        </div>
      </div>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Budget Global Du Projet (en Dinar Tunisien)</label>
      <input type="number" class="form-control" name="budget_projet" ngModel placeholder="Budget Global Du Projet" required>
    </div>
    
    <div class="mb-3">
      <label class="form-label">Nombre d'activités de ce Projet</label>
      <input type="number" class="form-control" [(ngModel)]="nombre" placeholder="Nombre d'activités" (ngModelChange)="updateListe()"  name="nombre_dactivite" required>
    </div>
    
    <ng-container *ngFor="let i of liste;">
      
        <hr>
        <b><label class="form-label" style="color: rgb(9, 162, 83);">Activité N°: {{i}}</label></b>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">Nom De l'activité : {{i}} :</label>
            <input type="text" class="form-control"  name="nom_act_{{i}}" ngModel placeholder="Nom de l'activité" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Budget De l'activité : {{i}} :</label>
            <input type="number" class="form-control" name="budget_act_{{i}}" ngModel placeholder="Budget de l'activité" required>
          </div>                         
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">Période Du:</label>
            <input type="date" class="form-control" name="date_Debut_act_{{i}}" ngModel required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Au:</label>
            <input type="date" class="form-control" name="date_Fin_act_{{i}}" ngModel required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">Frais d'Hébergement :</label>
            <input type="number" class="form-control"  name="hebergement_act_{{i}}" placeholder="Entrer Le Montant Total" ngModel>
          </div>
          
          <div class="col-md-6">
            <label class="form-label">Frais De Transport :</label>
            <input type="number" class="form-control" name="transport_act_{{i}}" placeholder="Entrer Le Montant Total" ngModel>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">Frais D'alimentation :</label>
            <input type="number" class="form-control" name="alimentation_act_{{i}}" placeholder="Entrer Le Montant Total" ngModel>
          </div>
          
          <div class="col-md-6">
            <label class="form-label">Frais D'Achat & Location :</label>
            <input type="number" class="form-control" name="achatLocation_act_{{i}}" placeholder="Entrer Le Montant Total" ngModel>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">Frais D'indemnité :</label>
            <input type="number" class="form-control"  name="indemnite_act_{{i}}" placeholder="Entrer Le Montant Total" ngModel>
          </div>
          
          <div class="col-md-6">
            <label class="form-label">Autre Dépense :</label>
            <input type="number" class="form-control" name="autreDepense_act_{{i}}" placeholder="Entrer Le Montant Total" ngModel>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Lieu De l'activité : {{i}} :</label>
          <input type="text" class="form-control"  name="lieu_act_{{i}}" ngModel placeholder="Lieu de l'activité" required>
        </div> 
        
        
        <div class="mb-3">
          <label class="form-label">Rapport De l'activité : {{i}} : (Taper "y" s'il est prêt, sinon taper "n")</label>
          <input type="text" class="form-control" name="rapport_act_{{i}}" ngModel placeholder="Taper - y - s'il est prêt, sinon taper - n -" required>
        </div> 
      
      <div *ngIf="i === liste.length" style="display: flex; justify-content: center;">
        <p style="color: lightseagreen;">---- FIN Des Activités ----</p>
      </div>
    
    </ng-container>
  
    <div class="mb-3">
      <label class="form-label">Coordinateur Du Projet</label>
      <input type="text" class="form-control" name="coordinateur_projet" ngModel placeholder="Coordinateur Du Projet" required>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Rapport Du Projet : (Taper "y" s'il est prêt, sinon taper "n") :</label>
      <input type="text" class="form-control" name="rapport_projet" ngModel placeholder="Rapport Du Projet Taper -y- s'il est prêt, sinon taper - n ">
    </div>    

    <br>

    <div style="display: flex;justify-content: center;">
      <button style="width: 80%;z-index: 1;" type="submit" class="btn btn-primary">Ajouter le projet</button>
    </div>

  </form>
  
</div>