<br>
<a href="all_projects"><button class="btn btn-primary">Retourne à la Liste des projets</button></a>
<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8"><br>
      <div style="display: flex;justify-content: center;">
      <h1>Liste Des Activités Du projet N°: {{item.numero_du_projet}}</h1> 
    </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N° Activité</th>
            <th scope="col">Nom de l'activité</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let activite of item.activites; let i = index">
          <tr>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ activite.nom_activite }}</td>
            <td><button type="button" class="btn btn-primary" (click)="navigateToactiviteDetails(item.numero_du_projet,i+1)">Détails de l'activités {{ i + 1 }}</button></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
