.button-container{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  width: 100%;
}
.exp{
  width: 100%;
  font-size: 150%;
}

.exc{
  width: 30%;
  font-size: 150%;
}